@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@900&display=swap');

*
{
    padding:0;
    border:0;
    margin:0;
    box-sizing:border-box;
    list-style: none;
	font-size: 100%;
    /* set all CSS box properties to 0 and use border-box for box sizing so that
the width and height properties (and min/max properties) of all elements includes content, padding and border.*/
}

/* class selector uses . sign.
 A class selector allows you to define style rules that apply to any
element with a class attribute equal to a certain value.*/

 /* id selector uses # sign. 
 The id selector allows you to define style rules that apply to a single element on the web page */
#mySiteHeader 
{
    /* used a grid layout for the header */
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: Arial, Helvetica, sans-serif;
}

#websiteMainLogoAside
{
    /* adjusted spacing outside of the borders */
    margin-left: 10%;
    margin-right: 5%;
}

#websiteMainLogoImg
{
    /* adjusted spacing between content and borders */
    padding-left: 350px;
    padding-top: 20px;
    width: 110%;
}

#websiteTitle
{
    /* adjusted different spacings and size of the site title at the top*/
    margin-left: 5%;
    padding-top: 50px;
    font-size: 4em;
}

#myNavMenu
{
    /* adjusted text and colors for the nav element */
    background-color: black;
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.2em black solid;

}

.navBarListItem
{
    /* adjusted layout for each LIST ITEM in the nav element*/
    display: inline-block; /* this layout gives side by side nav menu*/
    margin-left: 3%;
    margin-right: 3%;

}

.navBarHyperLink
{
    /* adjusted text colors for hyperlinks in the nav menu and footer menu */
    color: white;

}

#myHomePageMain
{
    display: grid; /* divide page elements into columns and rows.*/
    grid-template-columns: 1fr 1fr; /* set sizing for grid columns */
    grid-template-rows: 0.5fr 1fr; /* set sizing for grid rows */
    column-gap:1%; /* adjust the space between each column in the grid */
    row-gap: 50px; /* adjust the space between each row in the grid*/
    font-family: Arial, Helvetica, sans-serif;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/
    background-color: white;
}

#ProjectsHeading
{
    grid-column: 1 / 4; /* specifies size and location of the item within grid column */
    grid-row:1; /* specifies size and location of the item within grid row */
    font-size: 2.5em;
    text-align: center;
}

.EachIndividualProjectHeading
{
    background-color: white;
    color: black;
    border: 0.2em black solid;
    margin-bottom: 5px;
    margin-right: 20%;
}

#myFirstProject
{
    grid-column: 1 / 2; /* specifies size and location of the item within grid column */
    grid-row: 2; /* specifies size and location of the item within grid row */
    margin-top: -300px; /* spacing outside border against the top */
    margin-bottom: 300px; /* spacing outside border against the bottom */
    margin-left: 5%;
    margin-right: -20%;
}

#myFirstProjectParagraph
{
    width: 80%;
    background-color: white;
    border: 0.2em black solid;
    margin-bottom: 5px; /* spacing outside border against the bottom */
}

#mySecondProject
{
    grid-column: 1;
    grid-row: 3;
    margin-top: -300px; /* spacing outside border against the top */
    margin-left: 5%;
    margin-right: -20%;
}

#mySecondProjectParagraph
{
    width: 80%;
    background-color: white;
    border: 0.2em black solid;
    margin-bottom: 5px; /* spacing outside border against the bottom */
}

#myThirdProject
{
    grid-column: 3;
    grid-row: 2;
    margin-top: -300px; /* spacing outside border against the top */
    margin-bottom: 300px; /* spacing outside border against the bottom */
    margin-right: -15%;
    margin-left: 25%;
}


#myThirdProjectParagraph
{
    width: 80%;
    background-color: white;
    border: 0.2em black solid;
    margin-bottom: 5px; /* spacing outside border against the bottom */
}

#myFourthProject
{
    grid-column: 3;
    grid-row: 3;    
    margin-top: -300px; /* spacing outside border against the top */
    margin-right: 10%;
    margin-right: -15%;
    margin-left: 25%;
}

#myFourthProjectParagraph
{
    width: 80%; /* width is in percent of the containing block*/
    background-color: white;
    border: 0.2em black solid;
    margin-bottom: 5px; /* spacing outside border against the bottom */
}

#myAboutPage
{
    display: grid; /* divide page elements into columns and rows.*/
    grid-template-columns: 1fr 1fr; /* set sizing for grid columns */
    grid-template-rows: 0.5fr 0.5fr; /* set sizing for grid rows */
    column-gap:1%; /* adjust the space between each column in the grid */
    row-gap: 100px; /* adjust the space between each row in the grid*/
    font-family: Arial, Helvetica, sans-serif;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/
    background-color: white;
}

#GetToKnowMeHeading
{
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 2.5em;
    text-align: center;
    margin-bottom:500px;
}

#basicFactsSection
{
    grid-column: 1; /* specifies size and location of the item within grid column */
    grid-row: 2; /* specifies size and location of the item within grid row */
    margin-top: -550px; /* spacing outside border against the top */
    margin-bottom: 550px;
    margin-left: 5%;
    margin-right: -5%;
}

#basicFactsHeading
{
    background-color: white;
    color: black;
    border: 0.2em black solid;
    margin-bottom: 5px;
    margin-right: 20%;
}

#basicFactsUnorderedList
{
    list-style-type: disc; /* hides the little dot next to each list item*/
    line-height: 40px; /* specifies the height of a line (spacing between each item).*/
    background-color: white;
    border: 0.2em black solid;
}

.basicFactsListItem
{
    margin-left: 5%;
}

#tutorMissionSection
{
    grid-column: 1; /* specifies size and location of the item within grid column */
    grid-row: 3; /* specifies size and location of the item within grid row */
    margin-top: -520px; /* spacing outside border against the top */
    line-height: 40px; /* specifies the height of a line (spacing between each item).*/
    margin-left: 5%;
    margin-right: -5%;
}

#tutorMissionHeading
{
    background-color: white;
    color: black;
    border: 0.2em black solid; /* set border width, color, and style in border shorthand*/
    margin-bottom: 5px;
    margin-right: 20%;
}

#tutorMissionParagraph
{
    background-color: white;
    border: 0.2em black solid; /* set border width, color, and style in border shorthand*/
}

#tutorPhotoSection
{
    grid-column: 2; /* specifies size and location of the item within grid column */
    grid-row: 1; /* specifies size and location of the item within grid row */
    margin-top: 140px; /* spacing outside border against the top */
    margin-bottom: -140px; /* spacing outside border against the top */
    margin-left: 25%;
    margin-right: -25%;
}

#tutorimagefile
{
    border: 0.2em black solid; /* set border width, color, and style in border shorthand*/
}

#myPortfolioSitesSection
{
    grid-column: 2;
    grid-row: 2;
    margin-left: 15%;
    margin-right: -15%;

}


#myPortfolioSitesHeading
{
    background-color: white;
    color: black;     /* adjusted text colors for heading text */
    border: 0.2em black solid; /* set border width, color, and style in border shorthand*/
    margin-bottom: 5px;  /* spacing outside border against the bottom */
    margin-right: 20%;
}

#myPortfolioSitesUnorderedList
{
    list-style-type: none; /* hides the little dot next to each list item*/
    display: grid; /* divide page elements into columns and rows.*/
    grid-template-columns: 0.5fr 0.5fr; /* set sizing for grid columns */
    grid-template-rows: 0.5fr 0.5fr; /* set sizing for grid rows */
}

#firstPortfolioSite
{    
    grid-column: 1; /* specifies size and location of the item within grid column */
    grid-row: 1;  /* specifies size and location of the item within grid row */
    margin-right: 50%;

}

#secondPortfolioSite
{
    grid-column: 2; /* specifies size and location of the item within grid column */
    grid-row: 1;  /* specifies size and location of the item within grid row */
    margin-right: 50%; /* spacing outside border against the right */
    margin-left: -45%;  /* spacing outside border against the left */
}

#linkedinlogoImg
{
    width:100%; /* specifies the width of an image*/
    background-color: white;  /* specify background color for the image */
    
}

#githublogoImg
{
    width: 50%;
    background-color: white;  /* specify background color for the image */
}

#myTestimonialsPage
{
    display: grid; /* divide page elements into columns and rows.*/
    grid-template-columns: 1fr 1fr; /* set sizing for grid columns */
    grid-template-rows: 1fr 1fr 1fr; /* set sizing for grid rows */
    column-gap:1%; /* adjust the space between each column in the grid */
    row-gap: 50px; /* adjust the space between each row in the grid*/
    font-family: Arial, Helvetica, sans-serif;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/
    background-image: white;
}

#TestimonialsHeading2
{
    grid-column: 1 / 3;  /* specifies size and location of the item within grid column */
    grid-row: 1;  /* specifies size and location of the item within grid row */
    font-size: 2.5em;
    text-align: center; /* center the text */
}

#vidtest1
{
    grid-column: 1 / 2;
    grid-row: 2;
    margin-top: -350px; /* spacing outside border against the top */
    margin-bottom: 300px;  /* spacing outside border against the bottom */
    margin-left: 5%; /* spacing outside border against the left */
    margin-right: -5%; /* spacing outside border against the right */
    background-color: white;
    color: black;
    border: 0.2em black solid; /* adjust border size, color, shape */
}


#vidtest2
{
    grid-column: 1 / 2;
    grid-row: 3;
    margin-top: -300px;
    margin-bottom: 300px;
    margin-left: 5%;
    margin-right: -5%;
    background-color: white;
    color: black;
    border: 0.2em black solid;

}

#vidtest3
{
    grid-column: 1 / 2;
    grid-row: 4;
    margin-top: -300px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: -5%;
    background-color: white;
    color: black;
    border: 0.2em black solid;
}

#myContactPage
{
    display: grid; /* divide page elements into columns and rows.*/
    grid-template-columns: 1fr 1fr 1fr; /* set sizing for grid columns */
    grid-template-rows: 1fr; /* set sizing for grid rows */
    column-gap:1%; /* adjust the space between each column in the grid */
    font-family: Arial, Helvetica, sans-serif;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/
    background-color: white;
}


#heading2contactme
{
    grid-column: 1 / 4;  /* specifies size and location of the item within grid column */
    grid-row: 1;  /* specifies size and location of the item within grid row */
    font-size: 2.5em;
    text-align: center; /* center the text */
}

#socialmediasection
{
    grid-column: 1;
    grid-row: 2;
    background-color: white;
    margin-bottom: 50px;
    margin-left: 2%;
    width: 100%;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/

}

#socialmediaimg
{
    width: 100%;
}

#socialmediaheading
{
    text-align: center;
    font-size: 2em;
}

#socialmediapara
{
    font-size: 1.5em;
}

#socialmediaul
{
    font-size: 1.5em;
}

#emailsection
{
    grid-column: 2;
    grid-row: 2;  
    background-color: white;
    margin-bottom: 50px;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/
}

#emailimg
{
    width: 100%;
}

#emailheading
{
    text-align: center;
    font-size: 2em;
}

#emailhyperlink
{
    font-size: 1.5em;
}

#emailpara
{
    font-size: 1.5em;
}

#phonesection
{
    grid-column: 3;
    grid-row: 2;
    background-color: white;
    margin-bottom: 50px;
    margin-right: 2%;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/

}

#phoneimg
{
    width: 100%;
}

#phonenumberheading
{
    text-align: center;
    font-size: 2em;
}

#phonepara
{
    font-size: 1.5em;

}

#myTutoringPage
{
    display: grid; /* divide page elements into columns and rows.*/
    grid-template-columns: 3fr 1fr 3fr; /* set sizing for grid columns */
    grid-template-rows: 1fr 1fr; /* set sizing for grid rows */
    column-gap:1%; /* adjust the space between each column in the grid */
    font-family: Arial, Helvetica, sans-serif;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/
    background-color: white;
}

#tutoringServicesHeading
{
    grid-column: 1 / 4;
    grid-row: 1;
    font-size: 2.5em;
    text-align: center; /* center the text */
}

#tutorSubjectsSection
{
    grid-column: 1;
    grid-row: 2;
    margin-top: -300px;
    margin-bottom: 300px;
    margin-left: 10%;
    background-color: white;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/

}

#tutorSubjectsHeading
{
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}

#tutorSubjectsUL
{
    font-size: 1.5em;
}

.tutorSubjectLISTITEM
{
    margin-left:10%;
    line-height: 50px; /* specifies the height of a line (spacing between each item).*/

}

#faqSection
{
    grid-column: 1;
    grid-row: 3;
    margin-top: -250px;
    margin-bottom: 250px;
    margin-left: 10%;
    background-color: white;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/

}

#faqSectionHeading
{
    text-align: center;
    font-size: 2em;
}

#faqUL
{
    font-size: 1.5em;
}

.faqLISTITEM
{
    line-height: 50px; /* specifies the height of a line (spacing between each item).*/
    margin-left:10%;

}

#nonPackageSection
{
    grid-column: 3;
    grid-row: 2;
    margin-top: -300px;
    margin-bottom: 300px;
    margin-right: 10%;
    background-color: white;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/

}

#nonPackageHeading
{
    text-align: center;
    font-size: 2em;
}

#nonPackageTABLE
{
    font-size: 1.4em;
}

.nonPackageHeaderCell
{
    border: 2px solid black;
}

.nonPackageDataCell
{
    border: 2px solid black;   
}

#packageSection
{
    grid-column: 3;
    grid-row: 3;
    margin-top: -250px;
    margin-bottom: 250px;
    margin-right: 10%;
    background-color: white;
    border:0.2em black solid; /* set border width, color, and style in border shorthand*/

}

#packageHeading
{
    text-align: center;
    font-size: 2em;   
}

#packageTABLE
{
    font-size: 1.4em;
}

.packageHeaderCell
{
    border: 2px solid black;

}

.packageDataCell
{
    border: 2px solid black;

}

#mySiteFooter
{
    /* adjusted color and text for the footer element*/
    background-color: black;
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}


#copyrightText
{
    /* adjusted text color of the copyright text */
    color: white;
}

/*
https://www.jsdiaries.com/how-to-remove-html-purple-link-an-easy-solution/

With this in mind, how can you remove an HTML purple link? 
A purple link can be removed by overriding the default link styles in CSS. 
Specifically, a purple link indicates that the link has already been visited. 
So in order to change this style we must change the CSS :visited pseudo class.

a:visited { 
 text-decoration: none; 
 color: blue; 
}

*/

/*
#OtherWebsitesReferences
{
    grid-column: 2;
    grid-row: 3;
    margin-top: -300px; 
    margin-bottom: 350px;
} 

#OtherWebsitesUnorderedList
{
    list-style-type: none; 
    line-height: 100px; 
    background-color: #5BC0EB;
    border: 0.2em black solid;
    margin-right: 20%;
    text-align: center;

}

.ULwebsiteListItem
{
    font-size: 2em;
    color: black;
}

*/